In [204]:
#LSTM algo

In [302]:
!pip install pandas
!pip install matplotlib
!pip install seaborn
!pip install scikit-learn
!pip install tensorflow

Requirement already satisfied: pandas in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: scikit-learn in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.3.1)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: tensorflow in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (2.13.0)
Requirement already satisfied: tensorflow-macos==2.13.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: absl-py>=1.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (2.0.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (3.7.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (16.0.6)
Requirement already satisfied: numpy<=1.24.3,>=1.22 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (23.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (4.24.3)
Requirement already satisfied: setuptools in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (68.0.0)
Requirement already satisfied: six>=1.12.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (1.58.0)
Requirement already satisfied: tensorboard<2.14,>=2.13 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: keras<2.14,>=2.13.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorflow-macos==2.13.0->tensorflow) (2.13.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow-macos==2.13.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (2.23.0)

Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (3.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (2.2.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (4.9)
Requirement already satisfied: urllib3<2.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-macos==2.13.0->tensorflow) (3.2.2)

In [305]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import mean_squared_error
from math import sqrt
from keras.preprocessing.sequence import TimeseriesGenerator
from sklearn.preprocessing import MinMaxScaler
import keras
from keras import layers

In [306]:
pd.options.display.max_columns=100

In [307]:
#To Load The data
df_train = pd.read_csv('/Users/unmeshmhatre/Desktop/Data_Analysis/24-09-2023/train.csv')
df_features = pd.read_csv('/Users/unmeshmhatre/Desktop/Data_Analysis/24-09-2023/features.csv')

In [308]:
# convert Date to datetime
df_train["Date"] = pd.to_datetime(df_train["Date"])
df_features["Date"] = pd.to_datetime(df_features["Date"])

In [309]:
df_train.shape , df_features.shape

((421570, 5), (8190, 12))

In [310]:
df_features

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [311]:
df_train

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-02-05      24924.50      False
1           1     1 2010-02-12      46039.49       True
2           1     1 2010-02-19      41595.55      False
3           1     1 2010-02-26      19403.54      False
4           1     1 2010-03-05      21827.90      False
...       ...   ...        ...           ...        ...
421565     45    98 2012-09-28        508.37      False
421566     45    98 2012-10-05        628.10      False
421567     45    98 2012-10-12       1061.02      False
421568     45    98 2012-10-19        760.01      False
421569     45    98 2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [312]:
df_train.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [313]:
df_train.head(10)

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False
5      1     1 2010-03-12      21043.39      False
6      1     1 2010-03-19      22136.64      False
7      1     1 2010-03-26      26229.21      False
8      1     1 2010-04-02      57258.43      False
9      1     1 2010-04-09      42960.91      False

In [314]:
df_features.isna().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [315]:
train_data = pd.merge(df_train, df_features, on=['Date','Store'], how='inner')

In [316]:
train_data.tail(30)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
421540,45,41,2012-10-26,1954.67,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421541,45,42,2012-10-26,4894.78,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421542,45,44,2012-10-26,3144.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421543,45,46,2012-10-26,13329.25,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421544,45,52,2012-10-26,1104.16,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421545,45,54,2012-10-26,23.92,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421546,45,55,2012-10-26,3458.17,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421547,45,56,2012-10-26,937.72,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421548,45,58,2012-10-26,275.00,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421549,45,59,2012-10-26,191.98,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421550,45,60,2012-10-26,117.00,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421551,45,67,2012-10-26,5772.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421552,45,71,2012-10-26,2789.38,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421553,45,72,2012-10-26,33366.60,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421554,45,74,2012-10-26,9814.88,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421555,45,79,2012-10-26,14618.60,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421556,45,80,2012-10-26,670.88,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421557,45,81,2012-10-26,14693.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421558,45,82,2012-10-26,17360.33,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421559,45,83,2012-10-26,717.82,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421560,45,85,2012-10-26,1689.10,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421561,45,87,2012-10-26,8187.66,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421562,45,90,2012-10-26,25352.32,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421563,45,91,2012-10-26,16330.84,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421564,45,92,2012-10-26,54608.75,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421565,45,93,2012-10-26,2487.80,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421566,45,94,2012-10-26,5203.31,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421567,45,95,2012-10-26,56017.47,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421568,45,97,2012-10-26,6817.48,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False

In [317]:
train_data.isna().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
dtype: int64

In [318]:
cols_to_drop = ["IsHoliday_y","MarkDown1", "MarkDown2", "MarkDown3","MarkDown4","MarkDown5","CPI","Temperature","Fuel_Price","Unemployment"]
train_data.drop(columns=cols_to_drop, inplace=True)

In [319]:
#subset of one store
#train_data = train_data.loc[train_data["Store"] == 1]

In [320]:
train_data.head(10)

   Store  Dept       Date  Weekly_Sales  IsHoliday_x
0      1     1 2010-02-05      24924.50        False
1      1     2 2010-02-05      50605.27        False
2      1     3 2010-02-05      13740.12        False
3      1     4 2010-02-05      39954.04        False
4      1     5 2010-02-05      32229.38        False
5      1     6 2010-02-05       5749.03        False
6      1     7 2010-02-05      21084.08        False
7      1     8 2010-02-05      40129.01        False
8      1     9 2010-02-05      16930.99        False
9      1    10 2010-02-05      30721.50        False

In [321]:
train_data.shape

(421570, 5)

In [322]:
duplicates = train_data[train_data.duplicated()]

# To Display the duplicate rows from dataset
if not duplicates.empty:
    print("Duplicate Rows:")
    print(duplicates)
else:
    print("No duplicate rows found.")

# Removing the duplicate rows
df_cleaned = train_data.drop_duplicates()

No duplicate rows found.

In [323]:
#check for the outliers
time_series_column = 'Weekly_Sales'
Q1 = train_data[time_series_column].quantile(0.25)
Q3 = train_data[time_series_column].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = train_data[(train_data[time_series_column] < lower_bound) | (train_data[time_series_column] > upper_bound)]
outliers

        Store  Dept       Date  Weekly_Sales  IsHoliday_x
1           1     2 2010-02-05      50605.27        False
36          1    38 2010-02-05     115564.35        False
37          1    40 2010-02-05      66780.63        False
56          1    72 2010-02-05      98499.12        False
65          1    90 2010-02-05      76419.47        False
...       ...   ...        ...           ...          ...
421497     45    92 2012-10-19      48108.38        False
421500     45    95 2012-10-19      48434.97        False
421538     45    38 2012-10-26      47799.07        False
421564     45    92 2012-10-26      54608.75        False
421567     45    95 2012-10-26      56017.47        False

[35521 rows x 5 columns]

In [324]:
train_data = train_data[~train_data.index.isin(outliers.index)]

In [325]:
train_data

        Store  Dept       Date  Weekly_Sales  IsHoliday_x
0           1     1 2010-02-05      24924.50        False
2           1     3 2010-02-05      13740.12        False
3           1     4 2010-02-05      39954.04        False
4           1     5 2010-02-05      32229.38        False
5           1     6 2010-02-05       5749.03        False
...       ...   ...        ...           ...          ...
421563     45    91 2012-10-26      16330.84        False
421565     45    93 2012-10-26       2487.80        False
421566     45    94 2012-10-26       5203.31        False
421568     45    97 2012-10-26       6817.48        False
421569     45    98 2012-10-26       1076.80        False

[386049 rows x 5 columns]

In [326]:
cols_to_drop = ["Store","Dept"]
train_data.drop(columns=cols_to_drop, inplace=True)

In [327]:
train_data

             Date  Weekly_Sales  IsHoliday_x
0      2010-02-05      24924.50        False
2      2010-02-05      13740.12        False
3      2010-02-05      39954.04        False
4      2010-02-05      32229.38        False
5      2010-02-05       5749.03        False
...           ...           ...          ...
421563 2012-10-26      16330.84        False
421565 2012-10-26       2487.80        False
421566 2012-10-26       5203.31        False
421568 2012-10-26       6817.48        False
421569 2012-10-26       1076.80        False

[386049 rows x 3 columns]

In [328]:
train_data.set_index('Date', inplace=True)
train_data

            Weekly_Sales  IsHoliday_x
Date
2010-02-05      24924.50        False
2010-02-05      13740.12        False
2010-02-05      39954.04        False
2010-02-05      32229.38        False
2010-02-05       5749.03        False
...                  ...          ...
2012-10-26      16330.84        False
2012-10-26       2487.80        False
2012-10-26       5203.31        False
2012-10-26       6817.48        False
2012-10-26       1076.80        False

[386049 rows x 2 columns]

In [329]:
#resample data on weekly basis 
resampled_df = train_data.resample('W').mean()

In [330]:
resampled_df.isna().sum()

Weekly_Sales    0
IsHoliday_x     0
dtype: int64

In [331]:
resampled_df = resampled_df.dropna()

In [332]:
resampled_df

            Weekly_Sales  IsHoliday_x
Date
2010-02-07  10371.766994          0.0
2010-02-14  10945.257698          1.0
2010-02-21  10730.564159          0.0
2010-02-28   9917.680665          0.0
2010-03-07  10313.762879          0.0
...                  ...          ...
2012-09-30   9994.956797          0.0
2012-10-07  10252.912027          0.0
2012-10-14  10409.566168          0.0
2012-10-21  10416.818226          0.0
2012-10-28  10573.756051          0.0

[143 rows x 2 columns]

In [333]:
#train_size = int(len(train_data) * 0.80)
#train_size = int(len(resampled_df) * 0.80)
#train_data_1 = resampled_df.iloc[:train_size]
#test_data_1 = resampled_df.iloc[train_size:]

In [334]:
resampled_df

            Weekly_Sales  IsHoliday_x
Date
2010-02-07  10371.766994          0.0
2010-02-14  10945.257698          1.0
2010-02-21  10730.564159          0.0
2010-02-28   9917.680665          0.0
2010-03-07  10313.762879          0.0
...                  ...          ...
2012-09-30   9994.956797          0.0
2012-10-07  10252.912027          0.0
2012-10-14  10409.566168          0.0
2012-10-21  10416.818226          0.0
2012-10-28  10573.756051          0.0

[143 rows x 2 columns]

In [335]:
# Extract the sales values as the target variable
sales_data = resampled_df['Weekly_Sales'].values.reshape(-1, 1)

In [336]:
sales_data

array([[10371.76699366],
       [10945.25769797],
       [10730.56415932],
       [ 9917.6806652 ],
       [10313.7628789 ],
       [10389.78591394],
       [10640.45740822],
       [10344.50821757],
       [11097.25908546],
       [10869.52944835],
       [10316.21398302],
       [10428.15679364],
       [10277.43561039],
       [11052.3360545 ],
       [10738.87556544],
       [10656.50432513],
       [11045.26117314],
       [11241.6143064 ],
       [11008.89574548],
       [10973.69348151],
       [10965.6487472 ],
       [11082.24975113],
       [10864.76056818],
       [10874.36817875],
       [10772.27744177],
       [10783.47059193],
       [11119.32463883],
       [10984.40713053],
       [10909.21596081],
       [10826.37395716],
       [10574.34128791],
       [10484.16356352],
       [10103.68966495],
       [ 9875.57415018],
       [10003.47528247],
       [10489.95441783],
       [10226.05357248],
       [10264.88046657],
       [10452.7352926 ],
       [10520.97402081],
       [10515.94844808],
       [10572.00295277],
       [12071.58124662],
       [10873.79043902],
       [11518.60404133],
       [12086.61429014],
       [13599.94139241],
       [10094.5299674 ],
       [ 9543.4423799 ],
       [ 9238.53157353],
       [ 9268.70468219],
       [ 9306.0100845 ],
       [10016.78254389],
       [10406.81714339],
       [10853.46739374],
       [10030.1184641 ],
       [10111.39451816],
       [ 9970.0873509 ],
       [10331.56315557],
       [10140.65448352],
       [10034.29130865],
       [10380.87194063],
       [10407.73987537],
       [10759.53368441],
       [10530.92135618],
       [10495.15001832],
       [10543.72301715],
       [10326.03388071],
       [10708.48194557],
       [11073.16013188],
       [10905.68176338],
       [10820.52998145],
       [10852.94785106],
       [10830.0159028 ],
       [10945.81364416],
       [10535.57188848],
       [10812.4656141 ],
       [10506.52932053],
       [10752.38170659],
       [10521.74210331],
       [10441.88014444],
       [10521.43553042],
       [10342.49349393],
       [10378.4931098 ],
       [ 9992.73137147],
       [ 9792.99092471],
       [ 9811.82712044],
       [10439.13467944],
       [10202.17324404],
       [10338.12470133],
       [10497.10001467],
       [10707.82788183],
       [10614.20403548],
       [10359.22664338],
       [11740.77270412],
       [10664.9041458 ],
       [11231.50395818],
       [11608.00521442],
       [12875.80442733],
       [10843.73661977],
       [ 9683.87076107],
       [ 9108.58269413],
       [ 9246.93347715],
       [ 9178.07308669],
       [ 9685.45398604],
       [10362.51102385],
       [10671.7783095 ],
       [10130.65128866],
       [10037.05714599],
       [10352.81241557],
       [10519.41676103],
       [10607.53087099],
       [10481.80805495],
       [11080.15787584],
       [10386.49102828],
       [10269.39202403],
       [10116.42012445],
       [10337.29566395],
       [10685.68703798],
       [10871.96455882],
       [10833.4670597 ],
       [10833.00901198],
       [10865.80510227],
       [10936.95021474],
       [10982.10418665],
       [10767.32887523],
       [11004.57898464],
       [10533.84580693],
       [10608.57210526],
       [10397.69233124],
       [10534.94289716],
       [10546.76485387],
       [10641.78079084],
       [10764.37160826],
       [10453.21743058],
       [10448.07973353],
       [ 9984.84659737],
       [10020.39477273],
       [ 9994.95679707],
       [10252.91202728],
       [10409.56616751],
       [10416.81822557],
       [10573.75605128]])

In [337]:
# Normalize the data using Min-Max scaling
scaler = MinMaxScaler()
sales_data = scaler.fit_transform(sales_data)

In [338]:
sales_data

array([[0.2812477 ],
       [0.40893527],
       [0.36113381],
       [0.18014548],
       [0.2683331 ],
       [0.28525961],
       [0.34107156],
       [0.27517854],
       [0.44277835],
       [0.3920744 ],
       [0.26887883],
       [0.29380288],
       [0.26024484],
       [0.43277625],
       [0.36298434],
       [0.3446444 ],
       [0.43120103],
       [0.47491901],
       [0.42310427],
       [0.4152665 ],
       [0.41347534],
       [0.43943652],
       [0.39101261],
       [0.39315174],
       [0.37042126],
       [0.37291341],
       [0.44769124],
       [0.41765189],
       [0.40091059],
       [0.38246584],
       [0.32635082],
       [0.30627277],
       [0.22156034],
       [0.17077047],
       [0.19924763],
       [0.3075621 ],
       [0.24880464],
       [0.25744944],
       [0.29927527],
       [0.31446861],
       [0.31334967],
       [0.32583019],
       [0.65971096],
       [0.39302311],
       [0.53659071],
       [0.66305806],
       [1.        ],
       [0.21952094],
       [0.09682141],
       [0.02893309],
       [0.03565112],
       [0.04395716],
       [0.20221049],
       [0.28905161],
       [0.38849818],
       [0.20517973],
       [0.22327583],
       [0.19181382],
       [0.27229632],
       [0.22979055],
       [0.20610881],
       [0.28327491],
       [0.28925705],
       [0.36758387],
       [0.31668338],
       [0.3087189 ],
       [0.31953367],
       [0.27106523],
       [0.35621721],
       [0.43741272],
       [0.4001237 ],
       [0.38116468],
       [0.38838251],
       [0.38327672],
       [0.40905906],
       [0.31771882],
       [0.37936915],
       [0.3112525 ],
       [0.36599148],
       [0.31463962],
       [0.29685838],
       [0.31457136],
       [0.27472996],
       [0.28274527],
       [0.1968555 ],
       [0.15238334],
       [0.15657721],
       [0.2962471 ],
       [0.24348769],
       [0.27375725],
       [0.30915307],
       [0.35607158],
       [0.33522625],
       [0.27845559],
       [0.58605651],
       [0.34651462],
       [0.47266794],
       [0.55649586],
       [0.83877107],
       [0.38633163],
       [0.12808776],
       [0.        ],
       [0.03080377],
       [0.01547202],
       [0.12844026],
       [0.27918686],
       [0.34804515],
       [0.22756334],
       [0.20672463],
       [0.27702747],
       [0.31412189],
       [0.33374047],
       [0.30574832],
       [0.43897077],
       [0.284526  ],
       [0.25845394],
       [0.22439478],
       [0.27357267],
       [0.35114193],
       [0.39261657],
       [0.38404511],
       [0.38394313],
       [0.39124517],
       [0.40708562],
       [0.41713914],
       [0.36931946],
       [0.42214315],
       [0.31733451],
       [0.3339723 ],
       [0.28701997],
       [0.31757878],
       [0.32021093],
       [0.34136621],
       [0.36866103],
       [0.29938262],
       [0.29823871],
       [0.19509996],
       [0.20301475],
       [0.19735099],
       [0.25478467],
       [0.28966368],
       [0.29127835],
       [0.32622052]])

In [339]:
# To split the data in 70:30 ratio
train_size = int(0.7 * len(sales_data))
train_data_1 = sales_data[:train_size]

In [340]:
        x_train = []
        y_train = []

        for i in range(20, len(train_data_1)):
            x_train.append(train_data_1[i-20:i, 0])
            y_train.append(train_data_1[i, 0])

        x_train, y_train = np.array(x_train), np.array(y_train)
        x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
        print(x_train.shape)

        test = sales_data[train_size-20:, :]
        x_test = []
        y_test = sales_data[train_size:]

        for i in range(20, len(test)):
            x_test.append(test[i-20:i, 0])

        x_test = np.array(x_test)
        x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))
        print(sales_data.shape,x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(80, 20, 1)
(143, 1) (80, 20, 1) (80,) (43, 20, 1) (43, 1)

In [341]:
# To Build the LSTM model
model = keras.Sequential()
model.add(layers.LSTM(50, return_sequences=True, input_shape=(20, 1)))
model.add(layers.LSTM(50, return_sequences=False))
model.add(layers.Dense(15))
model.add(layers.Dense(1))
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_14 (LSTM)              (None, 20, 50)            10400

 lstm_15 (LSTM)              (None, 50)                20200

 dense_14 (Dense)            (None, 15)                765

 dense_15 (Dense)            (None, 1)                 16

=================================================================
Total params: 31381 (122.58 KB)
Trainable params: 31381 (122.58 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [342]:
# Train the LSTM model
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(x_train, y_train, epochs=10, batch_size=64,verbose = 2)

Epoch 1/10
2/2 - 2s - loss: 0.1714 - 2s/epoch - 767ms/step
Epoch 2/10
2/2 - 0s - loss: 0.0867 - 22ms/epoch - 11ms/step
Epoch 3/10
2/2 - 0s - loss: 0.0397 - 21ms/epoch - 11ms/step
Epoch 4/10
2/2 - 0s - loss: 0.0269 - 27ms/epoch - 14ms/step
Epoch 5/10
2/2 - 0s - loss: 0.0339 - 24ms/epoch - 12ms/step
Epoch 6/10
2/2 - 0s - loss: 0.0344 - 24ms/epoch - 12ms/step
Epoch 7/10
2/2 - 0s - loss: 0.0289 - 24ms/epoch - 12ms/step
Epoch 8/10
2/2 - 0s - loss: 0.0248 - 21ms/epoch - 11ms/step
Epoch 9/10
2/2 - 0s - loss: 0.0243 - 25ms/epoch - 12ms/step
Epoch 10/10
2/2 - 0s - loss: 0.0243 - 25ms/epoch - 12ms/step

In [343]:
# for predicting the sales

predictions = model.predict(x_test)

2/2 [==============================] - 0s 3ms/step

In [344]:
predictions.shape,y_test.shape

((43, 1), (43, 1))

In [345]:
prediction_sale = predictions
y_pred = scaler.inverse_transform(prediction_sale)

In [346]:
y_test_data = y_test
y_test_data = scaler.inverse_transform(y_test_data.reshape(-1, 1))

In [347]:
 rmse_value = np.sqrt(np.mean(y_pred - y_test_data) ** 2)
 rmse_value

46.06092350237956

In [348]:
Data = pd.DataFrame()

In [349]:
y_test_1 = y_test_data.flatten()
y_pred = y_pred.flatten()

In [350]:
Data['Actual Sales'] = y_test_1
Data['Predicted Sales'] = y_pred

In [351]:
Data

    Actual Sales  Predicted Sales
0    9683.870761     10636.742188
1    9108.582694     10641.990234
2    9246.933477     10602.216797
3    9178.073087     10538.757812
4    9685.453986     10460.756836
5   10362.511024     10389.927734
6   10671.778309     10342.614258
7   10130.651289     10320.064453
8   10037.057146     10301.259766
9   10352.812416     10285.652344
10  10519.416761     10278.958984
11  10607.530871     10281.992188
12  10481.808055     10293.000000
13  11080.157876     10306.467773
14  10386.491028     10334.940430
15  10269.392024     10351.627930
16  10116.420124     10362.867188
17  10337.295664     10362.396484
18  10685.687038     10359.444336
19  10871.964559     10360.297852
20  10833.467060     10376.332031
21  10833.009012     10399.509766
22  10865.805102     10425.291016
23  10936.950215     10450.616211
24  10982.104187     10476.552734
25  10767.328875     10501.142578
26  11004.578985     10518.025391
27  10533.845807     10535.166016
28  10608.572105     10542.888672
29  10397.692331     10544.962891
30  10534.942897     10537.321289
31  10546.764854     10527.168945
32  10641.780791     10516.290039
33  10764.371608     10508.259766
34  10453.217431     10503.481445
35  10448.079734     10497.133789
36   9984.846597     10488.802734
37  10020.394773     10469.068359
38   9994.956797     10442.718750
39  10252.912027     10412.203125
40  10409.566168     10386.593750
41  10416.818226     10369.576172
42  10573.756051     10359.188477

In [352]:
print("Root Mean Square Error for the LSTM Model:",rmse_value)

Root Mean Square Error for the LSTM Model: 46.06092350237956