In [165]:
#xgboost algorithm

In [166]:
!pip install pandas
!pip install matplotlib
!pip install statsmodels
!pip install scikit-learn
!pip install numpy seaborn
!pip install numpy pandas matplotlib seaborn
!pip install --upgrade scikit-learn
!pip install xgboost

Requirement already satisfied: pandas in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: statsmodels in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (0.14.0)
Requirement already satisfied: numpy>=1.18 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from statsmodels) (1.24.3)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: pandas>=1.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from statsmodels) (23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas>=1.0->statsmodels) (2022.7)
Requirement already satisfied: six in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Requirement already satisfied: scikit-learn in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.3.1)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.24.3)
Requirement already satisfied: seaborn in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: numpy in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.24.3)
Requirement already satisfied: pandas in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: matplotlib in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: seaborn in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: contourpy>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: scikit-learn in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (1.3.1)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)

Requirement already satisfied: xgboost in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (2.0.0)
Requirement already satisfied: numpy in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in /Users/unmeshmhatre/anaconda3/lib/python3.11/site-packages (from xgboost) (1.10.1)

In [167]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.simplefilter('ignore')
import os
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
from sklearn import model_selection
from sklearn.model_selection import train_test_split

from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [168]:
pd.options.display.max_columns=100

In [169]:
#Load The data
df_train = pd.read_csv('/Users/unmeshmhatre/Desktop/Data_Analysis/24-09-2023/train.csv')
df_features = pd.read_csv('/Users/unmeshmhatre/Desktop/Data_Analysis/24-09-2023/features.csv')

In [170]:
# To convert Date to datetime
df_train["Date"] = pd.to_datetime(df_train["Date"])
df_features["Date"] = pd.to_datetime(df_features["Date"])

In [171]:
df_train.shape , df_features.shape

((421570, 5), (8190, 12))

In [172]:
df_features

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [173]:
df_train

        Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-02-05      24924.50      False
1           1     1 2010-02-12      46039.49       True
2           1     1 2010-02-19      41595.55      False
3           1     1 2010-02-26      19403.54      False
4           1     1 2010-03-05      21827.90      False
...       ...   ...        ...           ...        ...
421565     45    98 2012-09-28        508.37      False
421566     45    98 2012-10-05        628.10      False
421567     45    98 2012-10-12       1061.02      False
421568     45    98 2012-10-19        760.01      False
421569     45    98 2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [174]:
df_train.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [175]:
df_train.head(10)

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False
5      1     1 2010-03-12      21043.39      False
6      1     1 2010-03-19      22136.64      False
7      1     1 2010-03-26      26229.21      False
8      1     1 2010-04-02      57258.43      False
9      1     1 2010-04-09      42960.91      False

In [176]:
df_features.isna().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [177]:
train_data = pd.merge(df_train, df_features, on=['Date','Store'], how='inner')

In [178]:
train_data.tail(30)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
421540,45,41,2012-10-26,1954.67,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421541,45,42,2012-10-26,4894.78,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421542,45,44,2012-10-26,3144.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421543,45,46,2012-10-26,13329.25,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421544,45,52,2012-10-26,1104.16,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421545,45,54,2012-10-26,23.92,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421546,45,55,2012-10-26,3458.17,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421547,45,56,2012-10-26,937.72,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421548,45,58,2012-10-26,275.00,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421549,45,59,2012-10-26,191.98,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421550,45,60,2012-10-26,117.00,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421551,45,67,2012-10-26,5772.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421552,45,71,2012-10-26,2789.38,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421553,45,72,2012-10-26,33366.60,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421554,45,74,2012-10-26,9814.88,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421555,45,79,2012-10-26,14618.60,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421556,45,80,2012-10-26,670.88,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421557,45,81,2012-10-26,14693.09,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421558,45,82,2012-10-26,17360.33,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421559,45,83,2012-10-26,717.82,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421560,45,85,2012-10-26,1689.10,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421561,45,87,2012-10-26,8187.66,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421562,45,90,2012-10-26,25352.32,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421563,45,91,2012-10-26,16330.84,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421564,45,92,2012-10-26,54608.75,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421565,45,93,2012-10-26,2487.80,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421566,45,94,2012-10-26,5203.31,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421567,45,95,2012-10-26,56017.47,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421568,45,97,2012-10-26,6817.48,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,False

In [179]:
train_data.isna().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
dtype: int64

In [180]:
cols_to_drop = ["IsHoliday_y","MarkDown1", "MarkDown2", "MarkDown3","MarkDown4","MarkDown5","CPI","Temperature","Fuel_Price","Unemployment"]
train_data.drop(columns=cols_to_drop, inplace=True)

In [181]:
train_data.head(10)

   Store  Dept       Date  Weekly_Sales  IsHoliday_x
0      1     1 2010-02-05      24924.50        False
1      1     2 2010-02-05      50605.27        False
2      1     3 2010-02-05      13740.12        False
3      1     4 2010-02-05      39954.04        False
4      1     5 2010-02-05      32229.38        False
5      1     6 2010-02-05       5749.03        False
6      1     7 2010-02-05      21084.08        False
7      1     8 2010-02-05      40129.01        False
8      1     9 2010-02-05      16930.99        False
9      1    10 2010-02-05      30721.50        False

In [182]:
train_data.shape

(421570, 5)

In [183]:
duplicates = train_data[train_data.duplicated()]

# To Display the duplicate rows from dataset
if not duplicates.empty:
    print(duplicates)
else:
    print("No duplicate rows found.")

# Removing the duplicate rows
train_data = train_data.drop_duplicates()

No duplicate rows found.

In [184]:
# check for the outliers
forecasting_column = 'Weekly_Sales'

Data_1 = np.percentile(train_data[forecasting_column], 25)
Data_2 = np.percentile(train_data[forecasting_column], 75)


range_multiplier = 1.5 
Interquartile_Range = Data_2 - Data_1

lower_range = Data_1 - range_multiplier * Interquartile_Range
upper_range = Data_2 + range_multiplier * Interquartile_Range


detect_outliers = train_data[(train_data[forecasting_column] < lower_range) | (train_data[forecasting_column] > upper_range)]

In [185]:
detect_outliers

        Store  Dept       Date  Weekly_Sales  IsHoliday_x
1           1     2 2010-02-05      50605.27        False
36          1    38 2010-02-05     115564.35        False
37          1    40 2010-02-05      66780.63        False
56          1    72 2010-02-05      98499.12        False
65          1    90 2010-02-05      76419.47        False
...       ...   ...        ...           ...          ...
421497     45    92 2012-10-19      48108.38        False
421500     45    95 2012-10-19      48434.97        False
421538     45    38 2012-10-26      47799.07        False
421564     45    92 2012-10-26      54608.75        False
421567     45    95 2012-10-26      56017.47        False

[35521 rows x 5 columns]

In [186]:
train_data = train_data[~train_data.index.isin(detect_outliers.index)]

In [187]:
train_data

        Store  Dept       Date  Weekly_Sales  IsHoliday_x
0           1     1 2010-02-05      24924.50        False
2           1     3 2010-02-05      13740.12        False
3           1     4 2010-02-05      39954.04        False
4           1     5 2010-02-05      32229.38        False
5           1     6 2010-02-05       5749.03        False
...       ...   ...        ...           ...          ...
421563     45    91 2012-10-26      16330.84        False
421565     45    93 2012-10-26       2487.80        False
421566     45    94 2012-10-26       5203.31        False
421568     45    97 2012-10-26       6817.48        False
421569     45    98 2012-10-26       1076.80        False

[386049 rows x 5 columns]

In [188]:
cols_to_drop = ["Store","Dept"]
train_data.drop(columns=cols_to_drop, inplace=True)

In [189]:
train_data

             Date  Weekly_Sales  IsHoliday_x
0      2010-02-05      24924.50        False
2      2010-02-05      13740.12        False
3      2010-02-05      39954.04        False
4      2010-02-05      32229.38        False
5      2010-02-05       5749.03        False
...           ...           ...          ...
421563 2012-10-26      16330.84        False
421565 2012-10-26       2487.80        False
421566 2012-10-26       5203.31        False
421568 2012-10-26       6817.48        False
421569 2012-10-26       1076.80        False

[386049 rows x 3 columns]

In [190]:
train_data.rename(columns={'Date':'ds','Weekly_Sales':'y','IsHoliday_x':'IsHoliday' }, inplace=True)

In [191]:
train_data

               ds         y  IsHoliday
0      2010-02-05  24924.50      False
2      2010-02-05  13740.12      False
3      2010-02-05  39954.04      False
4      2010-02-05  32229.38      False
5      2010-02-05   5749.03      False
...           ...       ...        ...
421563 2012-10-26  16330.84      False
421565 2012-10-26   2487.80      False
421566 2012-10-26   5203.31      False
421568 2012-10-26   6817.48      False
421569 2012-10-26   1076.80      False

[386049 rows x 3 columns]

In [192]:
df_xgboost = train_data.copy()
df_xgboost

               ds         y  IsHoliday
0      2010-02-05  24924.50      False
2      2010-02-05  13740.12      False
3      2010-02-05  39954.04      False
4      2010-02-05  32229.38      False
5      2010-02-05   5749.03      False
...           ...       ...        ...
421563 2012-10-26  16330.84      False
421565 2012-10-26   2487.80      False
421566 2012-10-26   5203.31      False
421568 2012-10-26   6817.48      False
421569 2012-10-26   1076.80      False

[386049 rows x 3 columns]

In [193]:
# Converting categorical columns to numerical columns and removing the old columns
mappings = {0:0, "False": 0, "True": 1}
df_xgboost["IsHoliday_cat"] = df_xgboost["IsHoliday"].map(mappings)
df_xgboost = df_xgboost.drop(["IsHoliday"], axis = 1)
df_xgboost.set_index('ds', inplace=True)

In [194]:
df_xgboost

                   y  IsHoliday_cat
ds
2010-02-05  24924.50            0.0
2010-02-05  13740.12            0.0
2010-02-05  39954.04            0.0
2010-02-05  32229.38            0.0
2010-02-05   5749.03            0.0
...              ...            ...
2012-10-26  16330.84            0.0
2012-10-26   2487.80            0.0
2012-10-26   5203.31            0.0
2012-10-26   6817.48            0.0
2012-10-26   1076.80            0.0

[386049 rows x 2 columns]

In [195]:
#resample data on weekly basis 
resampled_df = df_xgboost.resample('W').mean()

In [196]:
resampled_df

                       y  IsHoliday_cat
ds
2010-02-07  10371.766994            0.0
2010-02-14  10945.257698            NaN
2010-02-21  10730.564159            0.0
2010-02-28   9917.680665            0.0
2010-03-07  10313.762879            0.0
...                  ...            ...
2012-09-30   9994.956797            0.0
2012-10-07  10252.912027            0.0
2012-10-14  10409.566168            0.0
2012-10-21  10416.818226            0.0
2012-10-28  10573.756051            0.0

[143 rows x 2 columns]

In [197]:
resampled_df.isna()

                y  IsHoliday_cat
ds
2010-02-07  False          False
2010-02-14  False           True
2010-02-21  False          False
2010-02-28  False          False
2010-03-07  False          False
...           ...            ...
2012-09-30  False          False
2012-10-07  False          False
2012-10-14  False          False
2012-10-21  False          False
2012-10-28  False          False

[143 rows x 2 columns]

In [198]:
resampled_df = resampled_df.dropna()

In [199]:
resampled_df

                       y  IsHoliday_cat
ds
2010-02-07  10371.766994            0.0
2010-02-21  10730.564159            0.0
2010-02-28   9917.680665            0.0
2010-03-07  10313.762879            0.0
2010-03-14  10389.785914            0.0
...                  ...            ...
2012-09-30   9994.956797            0.0
2012-10-07  10252.912027            0.0
2012-10-14  10409.566168            0.0
2012-10-21  10416.818226            0.0
2012-10-28  10573.756051            0.0

[133 rows x 2 columns]

In [200]:
# split the Data based on date
split_date = pd.to_datetime("2012-02-01")

In [201]:
# Filter data for training based on the split date
X_train = resampled_df.loc[resampled_df.index < split_date].drop("y", axis=1)
y_train = resampled_df.loc[resampled_df.index < split_date]["y"]

In [202]:
# Filter data for testing based on the split date
X_test = resampled_df.loc[resampled_df.index >= split_date].drop("y", axis=1)
y_test = resampled_df.loc[resampled_df.index >= split_date]["y"]

In [203]:
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (96, 1)
y_train shape: (96,)
X_test shape: (37, 1)
y_test shape: (37,)

In [204]:
# for tuning the parameters
tune_parameters = {"max_depth":6, "booster": "gbtree", "eta":0.3, "objective":"reg:linear","subsample": 0.9, "colsample_bytree": 0.7,"seed": None}
data_train = xgb.DMatrix(X_train, y_train)

In [205]:
data_test = xgb.DMatrix(X_test, y_test)
W1 = [(data_train, 'train'), (data_test, 'eval')]

In [206]:
#To train xgboost model
xgboost = xgb.train(tune_parameters, data_train, 100, evals=W1,early_stopping_rounds= 100, verbose_eval=True)

[0]	train-rmse:659.14619	eval-rmse:327.86110
[1]	train-rmse:659.11687	eval-rmse:326.95543
[2]	train-rmse:659.25825	eval-rmse:325.39379
[3]	train-rmse:659.38036	eval-rmse:324.96245
[4]	train-rmse:659.31086	eval-rmse:325.18193
[5]	train-rmse:659.12044	eval-rmse:326.67436
[6]	train-rmse:659.11935	eval-rmse:326.72138
[7]	train-rmse:659.16510	eval-rmse:325.97725
[8]	train-rmse:659.16732	eval-rmse:325.95718
[9]	train-rmse:659.12212	eval-rmse:327.32801
[10]	train-rmse:659.11714	eval-rmse:327.04311
[11]	train-rmse:659.19546	eval-rmse:325.73905
[12]	train-rmse:659.14880	eval-rmse:326.14611
[13]	train-rmse:659.13988	eval-rmse:326.26105
[14]	train-rmse:659.12216	eval-rmse:326.61402
[15]	train-rmse:659.12857	eval-rmse:326.45281
[16]	train-rmse:659.12527	eval-rmse:327.42881
[17]	train-rmse:659.15035	eval-rmse:327.92710
[18]	train-rmse:659.14422	eval-rmse:327.82838
[19]	train-rmse:659.24003	eval-rmse:328.92926
[20]	train-rmse:659.25197	eval-rmse:329.03441
[21]	train-rmse:659.18099	eval-rmse:328.33284
[22]	train-rmse:659.38756	eval-rmse:330.05080
[23]	train-rmse:659.22807	eval-rmse:328.81981
[24]	train-rmse:659.24301	eval-rmse:328.95587
[25]	train-rmse:659.20892	eval-rmse:328.63436
[26]	train-rmse:659.15050	eval-rmse:327.92937
[27]	train-rmse:659.12948	eval-rmse:326.43402
[28]	train-rmse:659.37824	eval-rmse:324.96839
[29]	train-rmse:659.15161	eval-rmse:326.11376
[30]	train-rmse:659.14608	eval-rmse:326.17893
[31]	train-rmse:659.12580	eval-rmse:327.44359
[32]	train-rmse:659.12547	eval-rmse:327.43435
[33]	train-rmse:659.25316	eval-rmse:325.41723
[34]	train-rmse:659.11857	eval-rmse:326.76176
[35]	train-rmse:659.14849	eval-rmse:326.14973
[36]	train-rmse:659.16726	eval-rmse:325.95761
[37]	train-rmse:659.12914	eval-rmse:326.44111
[38]	train-rmse:659.11705	eval-rmse:326.89574
[39]	train-rmse:659.16936	eval-rmse:328.19133
[40]	train-rmse:659.24030	eval-rmse:328.93180
[41]	train-rmse:659.23266	eval-rmse:328.86244
[42]	train-rmse:659.12645	eval-rmse:326.49913
[43]	train-rmse:659.11867	eval-rmse:326.75588
[44]	train-rmse:659.12438	eval-rmse:326.55004
[45]	train-rmse:659.19218	eval-rmse:325.76161
[46]	train-rmse:659.30676	eval-rmse:325.19676
[47]	train-rmse:659.12610	eval-rmse:326.50717
[48]	train-rmse:659.11698	eval-rmse:326.91015
[49]	train-rmse:659.16508	eval-rmse:328.13610
[50]	train-rmse:659.12300	eval-rmse:327.35845
[51]	train-rmse:659.11696	eval-rmse:327.00757
[52]	train-rmse:659.23159	eval-rmse:325.52406
[53]	train-rmse:659.23023	eval-rmse:325.53126
[54]	train-rmse:659.12884	eval-rmse:326.44702
[55]	train-rmse:659.15377	eval-rmse:326.09001
[56]	train-rmse:659.23774	eval-rmse:325.49227
[57]	train-rmse:659.15565	eval-rmse:326.07006
[58]	train-rmse:659.22381	eval-rmse:325.56606
[59]	train-rmse:659.12992	eval-rmse:327.54879
[60]	train-rmse:659.11833	eval-rmse:326.77635
[61]	train-rmse:659.12141	eval-rmse:327.30190
[62]	train-rmse:659.12208	eval-rmse:326.61676
[63]	train-rmse:659.12333	eval-rmse:327.36929
[64]	train-rmse:659.12900	eval-rmse:326.44365
[65]	train-rmse:659.20310	eval-rmse:325.68881
[66]	train-rmse:659.12666	eval-rmse:326.49426
[67]	train-rmse:659.11688	eval-rmse:326.94118
[68]	train-rmse:659.12359	eval-rmse:327.37760
[69]	train-rmse:659.12316	eval-rmse:326.58385
[70]	train-rmse:659.11834	eval-rmse:326.77520
[71]	train-rmse:659.14041	eval-rmse:327.76231
[72]	train-rmse:659.11689	eval-rmse:326.98337
[73]	train-rmse:659.11689	eval-rmse:326.94025
[74]	train-rmse:659.12022	eval-rmse:327.25287
[75]	train-rmse:659.11700	eval-rmse:327.01784
[76]	train-rmse:659.13851	eval-rmse:326.28093
[77]	train-rmse:659.18434	eval-rmse:325.81821
[78]	train-rmse:659.43049	eval-rmse:324.83303
[79]	train-rmse:659.31248	eval-rmse:325.17616
[80]	train-rmse:659.17029	eval-rmse:325.93096
[81]	train-rmse:659.61051	eval-rmse:324.49246
[82]	train-rmse:659.21882	eval-rmse:325.59408
[83]	train-rmse:659.12078	eval-rmse:326.66166
[84]	train-rmse:659.12344	eval-rmse:327.37295
[85]	train-rmse:659.11714	eval-rmse:326.87981
[86]	train-rmse:659.18825	eval-rmse:325.78949
[87]	train-rmse:659.20603	eval-rmse:325.67031
[88]	train-rmse:659.14352	eval-rmse:326.21154
[89]	train-rmse:659.19430	eval-rmse:328.48213
[90]	train-rmse:659.45765	eval-rmse:330.49983
[91]	train-rmse:659.38820	eval-rmse:330.05510
[92]	train-rmse:659.35592	eval-rmse:329.83476
[93]	train-rmse:659.30974	eval-rmse:329.49979
[94]	train-rmse:659.21698	eval-rmse:328.71422
[95]	train-rmse:659.14985	eval-rmse:327.91936
[96]	train-rmse:659.11958	eval-rmse:326.71060
[97]	train-rmse:659.11761	eval-rmse:326.82875
[98]	train-rmse:659.12548	eval-rmse:327.43463
[99]	train-rmse:659.13283	eval-rmse:327.61419

In [207]:
predictions = xgboost.predict(data_test)

In [208]:
predictions

array([10551.34, 10551.34, 10551.34, 10551.34, 10551.34, 10551.34,
       10551.34, 10551.34, 10551.34, 10551.34, 10551.34, 10551.34,
       10551.34, 10551.34, 10551.34, 10551.34, 10551.34, 10551.34,
       10551.34, 10551.34, 10551.34, 10551.34, 10551.34, 10551.34,
       10551.34, 10551.34, 10551.34, 10551.34, 10551.34, 10551.34,
       10551.34, 10551.34, 10551.34, 10551.34, 10551.34, 10551.34,
       10551.34], dtype=float32)

In [209]:
rmse_xgboost = np.sqrt(mean_squared_error(y_test, predictions))

In [210]:
rmse_xgboost

327.614189151229

In [211]:
Data = pd.DataFrame()

In [212]:
Data['Actual Sales'] = y_test
Data['Predicted Sales'] = predictions

In [213]:
Data

            Actual Sales  Predicted Sales
ds
2012-02-05   9685.453986     10551.339844
2012-02-19  10671.778309     10551.339844
2012-02-26  10130.651289     10551.339844
2012-03-04  10037.057146     10551.339844
2012-03-11  10352.812416     10551.339844
2012-03-18  10519.416761     10551.339844
2012-03-25  10607.530871     10551.339844
2012-04-01  10481.808055     10551.339844
2012-04-08  11080.157876     10551.339844
2012-04-15  10386.491028     10551.339844
2012-04-22  10269.392024     10551.339844
2012-04-29  10116.420124     10551.339844
2012-05-06  10337.295664     10551.339844
2012-05-13  10685.687038     10551.339844
2012-05-20  10871.964559     10551.339844
2012-05-27  10833.467060     10551.339844
2012-06-03  10833.009012     10551.339844
2012-06-10  10865.805102     10551.339844
2012-06-17  10936.950215     10551.339844
2012-06-24  10982.104187     10551.339844
2012-07-01  10767.328875     10551.339844
2012-07-08  11004.578985     10551.339844
2012-07-15  10533.845807     10551.339844
2012-07-22  10608.572105     10551.339844
2012-07-29  10397.692331     10551.339844
2012-08-05  10534.942897     10551.339844
2012-08-12  10546.764854     10551.339844
2012-08-19  10641.780791     10551.339844
2012-08-26  10764.371608     10551.339844
2012-09-02  10453.217431     10551.339844
2012-09-16   9984.846597     10551.339844
2012-09-23  10020.394773     10551.339844
2012-09-30   9994.956797     10551.339844
2012-10-07  10252.912027     10551.339844
2012-10-14  10409.566168     10551.339844
2012-10-21  10416.818226     10551.339844
2012-10-28  10573.756051     10551.339844

In [216]:
print("Root Mean Squared Error for the XGBoost Model:",rmse_xgboost)

Root Mean Squared Error for the XGBoost Model: 327.614189151229